{% extends "layout/layout.html" %}

{% block title %} Login {% endblock %}
{% block title_menu %} Login {% endblock %}

{% block content %}
<h3>Login</h3>
<div class="form-group">
    <form action="/login" method="post">
        <div class="form-input">
            <label for="username">Username</label>
            <input type="text" name="in_username" id="username" size="40" autofocus>
        </div>
        <div class="form-input">
            <label for="password">Password</label>
            <input type="password" name="in_password" id="password" size="40">
        </div>
        <input type="submit" value="Login" class="btn">
    </form>
</div>
    
{% endblock %}