<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fx Directory - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/asset/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
    {% block additional_script%}{% endblock %}
    
</head>

<body>
    <header class="navbar">
        <div>
            <ul class="menu">
                <li><a href="/">->Home</a></li>
                <li><a href="/update">->Update</a></li>
                <li><a href="/library">->Library</a></li>
                {% if session != null  %}
                    <li><a href="/project">->Project</a></li>
                {% endif %}
                <li><a href="/about">->About</a></li>
            </ul>
        </div>
        <div class="riddle" id="btn-riddle">riddle?</div>
    </header>
    
    <div id="modal-popup" class="bg-modal">
        <div class="modal-content">
            <span id="close">&times</span>
            <div>
                <div class="header">
                    <h3>Riddle Me This..?</h3>
                </div>
                <div class="body">
                    <form action="/riddle" method="post">
                        <div class="form-input">
                            <input type="text" name="answer" autofocus>
                        </div>
                        <input type="submit" value="Answer" class="btn">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <section class="page">
        <div class="sidebar">
            <h2>{% block title_menu %}{% endblock %}</h2>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </section>

    <footer class="footer">
        <hr>
        <p>
            &copy;fx_directory
        </p>
    </footer>
</body>

<script>
    var btn_riddle = document.getElementById("btn-riddle");
    var modal = document.getElementById('modal-popup');
    var tutup = document.getElementById("close");

    btn_riddle.onclick = function(){
        modal.style.display = "block";
    }

    tutup.onclick = function(){
        modal.style.display = "none";
    }

    window.onclick = function(e){
        if(e.target == modal){
            modal.style.display = "none";
        }
    }
</script>

</html>