{% extends "layout/layout.html" %}

{% block title %} Update {% endblock %}
{% block title_menu %} Update {% endblock %}

{% block content %}
<div class="head-content">
    <h3>This Update Page</h3>
    {% if session != null %}
    <a href="/update-add">[+]Add Update</a>
    {% endif %}
</div>
<div>
    <ul class="list-content">
        {% for update in data %}
        <li><a href="/update-detail/{{update.id}}">{{update.title}}</a> {% if session != null %}| <a href="/update-delete/{{update.id}}">[Delete]</a> | <a href="/update-edit/{{update.id}}">[Edit]</a>{% endif %}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}